boto3==1.5.8
botocore==1.8.22
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
coveralls==1.2.0
dj-database-url==0.4.2
Django==1.11.6
django-cors-headers==2.1.0
django-filter==1.1.0
django-split-settings==0.2.5
django-storages==1.6.5
django-suit==0.2.25
django-suit-ckeditor==0.0.2
djangorestframework==3.7.1
docopt==0.6.2
docutils==0.14
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
Markdown==2.6.9
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.12
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
