alabaster==0.7.12
amqp==2.6.1
Babel==2.9.1
beautifulsoup4==4.6.0
billiard==3.6.3.0
celery==4.4.7
certifi==2017.11.5
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.2
coveralls==1.2.0
datedelta==1.2
dj-database-url==0.4.2
Django==2.2.28
django-cors-headers==3.7.0
django-debug-toolbar==3.2.4
django-extra-fields==2.0.3
django-filter==2.4.0
django-ipware==2.0.1
django-mail-templated==2.6.5
django-modelsdoc==0.1.9
django-split-settings==0.2.5
django-suit==0.2.26
git+https://github.com/coredumperror/django-suit-ckeditor@master#egg=django-suit-ckeditor
django-templated-mail==1.1.1
django-unused-media==0.1.12
djangorestframework==3.12.4
djangorestframework-filters==1.0.0.dev2
djangorestframework-stubs==0.4.2
djoser==2.1.0
docopt==0.6.2
docutils==0.14
drf-rw-serializers==1.0.4
drf-writable-nested==0.7.0
drf-yasg==1.20.0
filetype==1.0.5
flex==6.14.1
future==0.18.3
gunicorn==19.7.1
idna==2.6
imagesize==1.1.0
inflection==0.3.1
itypes==1.1.0
Jinja2==2.11.3
jmespath==0.9.3
jsonpointer==1.14
kombu==4.6.11
Markdown==3.3
MarkupSafe==1.1.1
openapi-codec==1.3.2
packaging==19.0
psycopg2==2.8.6
Pygments==2.7.4
pyparsing==2.3.1
PyPDF2==1.27.12
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.4.1
redis==4.5.3
requests==2.25.1
rfc3987==1.3.7
ruamel.yaml==0.16.12
six==1.11.0
snowballstemmer==1.2.1
Sphinx==3.0.4
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
strict-rfc3339==0.7
titlecase==0.12.0
uritemplate==3.0.0
urllib3==1.26.6
validate-email==1.3
vine==1.3.0
whitenoise==4.1.3
lxml~=4.6.2
dict2xml~=1.7.0