{% extends 'base.html' %}

{% block container %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <p>Please upload a valid csv file to import data to the DEQAR system.</p>
        </div>
        <hr>
        <form action="{% url "csvtest:upload_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-8">
                    <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                     <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                </div>
            </div>
        </form>
    </div>

    {% if response_list %}
    <div class="row">
        <div class="col-md-12">
            <h2>Submission Results</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Agency Record ID</th>
                        <th>Submission Status</th>
                        <th>Errors</th>
                        <th>Sanity Check Flag</th>
                        <th>Report Warnings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in response_list %}
                        <tr style="vertical-align: middle;">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ response.agency }}</td>
                            <td>
                                {% if response.submission_status == 'success' %}
                                    <span class="label label-success">Success</span>
                                {% else %}
                                    <span class="label label-danger">Errors</span>
                                {% endif %}
                            </td>
                            <td>
                                {% for key, value in response.errors.items %}
                                    <dl>
                                        <dt>{{ key }}</dt>
                                        <dd>{{ value|join:", " }}</dd>
                                    </dl>
                                {% endfor %}
                            </td>
                            <td>
                                {% if response.report_flag == 'high level' %}
                                    <span class="label label-danger">High</span>
                                {% endif %}
                                {% if response.report_flag == 'low level' %}
                                    <span class="label label-warning">Low</span>
                                {% endif %}
                            </td>
                            <td>
                                <ul>
                                {% for warning in response.report_warnings %}
                                    <li>{{ warning }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}